<%# Write your code here! %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Greetings!</title>
  </head>
  <body>
    <p>Hi <%=params[:user_name]%>, nice to meet you!</p>
  </body>
</html>
