<%# Write your code here! %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Welcome!</h1>
    <form class="text" action="/greet" method="post">
      First Name:<br>
      <input type="text" name="user_name" value="First Name"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
